/* palette colori */

    /* COLOR CUBE */
    $Title_color: #5b2ca2;
    $OnSale_text: #66bc7b;
    $japanese_laurel: #287a00 ;
    $tobacco_brown: #6a5243;
    $cod_gray: #0e0e0d;
    $manatee: #929295;
    $atoll: #0a5e6c;
    $chalky: #f0caa1;
    $raw_sienna: #d68843;
    $perfume: #bda2f3;
    
    /* MEDIAN CUT */
    $Mamba: #878589;
    $outer_space: #282d2c;
    $pearl_bush: #e9dedc;
    $millbrook: #694a3a;
    $leather: #9f7651;

    /* MATERIAL DESIGN */
    $driftwood: #b77c49;
    $sandrift: #b2927b;
    $dark_vibrant: #086875;
    $limed-spruce: #344747;
    $tan: #d6b28d;